html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #121C21;
    color: white;
    font-family: sans-serif;

    /* IE fix for left/top percentages causing scrollbars */
    overflow: hidden;
}

header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 520px;
}

img {
    float: left;
    margin-right: 20px;
    height: 200px;
}

.info-container {
    transform: translateY(25%);
}

h1 {
    font-size: 30px;
    margin: 0 0 5px 0;
}

hr {
    color: white;
}

h2 {
    font-size: 20px;
    margin: 0 0 10px 0;
}

.location {
    margin-bottom: 5px;
}

a {
    color: white;
}

@media (max-width: 600px) {
    header {
        text-align: center;
        max-width: 350px;
    }

    img {
        float: none;
        height: 150px;
        margin: 0;
    }

    .info-container {
        margin-top: -20px;
    }
}